{{#if update}}
<form >
  {{input value=updateQuestion id="updateQuestion" placeholder = "Update Your Question"}}
  {{input value=updateAuthor id="updateAuthor" placeholder = "Update Your Author"}}
  <button class = "btn btn-success"{{action 'updateQuestion' question}}>Save</button>
  <button class = "btn btn-info"{{action 'hideUpdate'}}>Hide</button>
</form>
{{else}}
<button class = "btn btn-info"{{action 'showUpdate'}}>Update Question</button>

{{/if}}
