{{#if update}}
<form >
  {{input value=updateQuestion id="updateQuestion" placeholder = "Update Your Question"}}
  {{input value=updateAuthor id="updateAuthor" placeholder = "Update Your Author"}}
  <button {{action 'updateQuestion' question}}>Save</button>
  <button {{action 'hideUpdate'}}>Hide</button>
</form>
{{else}}
<button {{action 'showUpdate'}}>Update Question</button>

{{/if}}
