<!-- Why cant i collect and save without a component in one function? -->



<h1>All the question our site has to offer</h1>
<hr />

{{#each model as |question|}}
<div class = "question">
{{#link-to 'question' question.id}}<p>Question: {{question.question}}</p>{{/link-to}}
</div>
<h2>By: {{question.author}}</h2>
<h3>Date Posted: {{question.date}}</h3>
<p>Update Your Questions: {{update-question question=question updateQuestion="updateQuestion"}} </p>

<button class = "btn btn-danger" {{action 'deleteQuestion' question}}>Delete Question</button>
<p>//////////////////////////////////////////</p>

{{/each}}
<hr />

<p>Add A New Question: {{new-question savePost='savePost'}} </p>
