

{{#each model as |question|}}
{{#link-to 'question' question.id}}<li>Question: {{question.question}}</li>{{/link-to}}
<li>Author: {{question.author}}</li>
<li>Date Posted: {{question.date}}</li>
<p>Update Your Questions: {{update-question question=question updateQuestion="updateQuestion"}} </p>

<button {{action 'deleteQuestion' question}}>Delete Question</button>
<p>//////////////////////////////////////////</p>

{{/each}}
<hr />

<p>Add A New Question: {{new-question savePost='savePost'}} </p>
