<h1>Individual Question Page</h1>
<hr />
<div class = "question">

<h2>Question: {{model.question}}</h2>
</div>
<h2>By: {{model.author}}</h2>
<li>Date Posted: {{model.date}}</li>



{{new-answer question=model saveAnswer = 'saveAnswer'}}
<hr />

{{#each model.answers as |answer|}}
{{answer.answer}}
{{answer.author}}
<button {{action 'deleteAnswer' answer}}>Delete</button>
{{/each}}
