<h1>Individual Question Page</h1>
<hr />
<div class = "question">

<h2>Question: {{model.question}}</h2>
</div>
<h2>By: {{model.author}}</h2>
<h3>Date Posted: {{model.date}}</h3>
{{update-question question=model updateQuestion="updateQuestion"}}

{{new-answer question=model saveAnswer = 'saveAnswer'}}
<hr />

{{#each model.answers as |answer|}}
<div class = "answer">
{{answer.answer}}
</div>
{{answer.author}}
<button {{action 'deleteAnswer' answer}}>Delete</button>
{{/each}}
