<h1>Individual Question Page</h1>

<h2>Question: {{model.question}}</h2>
<h3>Author: {{model.author}}</h3>
<li>Date Posted: {{model.date}}</li>



{{new-answer saveAnswer = 'saveAnswer'}}
<hr />

{{#each model.answers as |answer|}}
{{answer.answer}}
{{/each}}
